@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="sidebar">
    <h4 class="text-center">Course Lessons</h4>
    <div class="lesson-title active-lesson" onclick="loadVideo('https://www.youtube.com/embed/xyz1')">Lesson 1: Introduction</div>
    <div class="lesson-title" onclick="loadVideo('https://www.youtube.com/embed/xyz2')">Lesson 2: Basics of HTML</div>
    <div class="lesson-title" onclick="loadVideo('https://www.youtube.com/embed/xyz3')">Lesson 3: CSS Fundamentals</div>
    <div class="lesson-title" onclick="loadVideo('https://www.youtube.com/embed/xyz4')">Lesson 4: JavaScript Basics</div>
    <div class="lesson-title" onclick="loadVideo('https://www.youtube.com/embed/xyz5')">Lesson 5: Bootstrap Overview</div>
</div>

<!-- Main Content -->
<div class="main-content">
    <h1>Course Title: Web Development 101</h1>
    <div class="video-container">
        <iframe id="course-video" src="https://www.youtube.com/embed/xyz1" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="mt-4">Here is the description of the lesson being played. You can watch the educational content and follow along with the video above. As you progress through the lessons, more content will be covered.</p>
</div>