@using ELearningApp.Core.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var fullname = user?.FullName;

        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> Hello @fullname!
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                @if (await UserManager.IsInRoleAsync(user, "Admin"))
                {
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index"><i class="fa fa-tachometer-alt"></i> Admin Dashboard</a>
                }
                else if (await UserManager.IsInRoleAsync(user, "Teacher"))
                {
                    <a class="dropdown-item" asp-controller="Teacher" asp-action="Index"><i class="fa fa-tachometer-alt"></i> Teacher Dashboard</a>
                }
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="dropdown-item">
                    <button type="submit" class="btn btn-link p-0 text-dark"><i class="fa fa-sign-out-alt"></i> Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in-alt"></i> Login</a>
        </li>
    }
</ul>
